main {
    .section1 {
        margin: 20px 0;
        padding: 80px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        @media (min-width:375px) and (max-width: 425px){
            flex-direction: column;
            padding: 10px;
            text-align: center;
        }

        .section1-left {
            width: 35%;
            @media (min-width:375px) and (max-width: 425px){
                width: 90%;
            }
        }

        .section1-right {
            width: 35%;
            @media (min-width:375px) and (max-width: 425px){
                width: 90%;
            }
        }
    }

    .section2 {
        padding: 30px;
        background-color: $spatial-gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;

        .section2-title {
            margin-bottom: 30px;
        }

        .section2-images {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 30px;
            align-items: center;
            margin-bottom: 30px;
            @media (min-width:375px) and (max-width: 425px){
                flex-direction: column;
            }

            div {
                background-color: white;
                height: auto;
                box-shadow: 1px 1px 20px gray;
                @media (min-width:375px) and (max-width: 425px){
                    img{
                        height: 250px;
                        width: 250px;
                    }
                }
            }
        }

        .section2-buttons {
            button {
                padding: 10px 25px;
                @media (min-width:375px) and (max-width: 425px){
                    margin-bottom: 10px;
                }

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .section3 {
        height: auto;
        padding: 80px;
        @media (min-width:375px) and (max-width: 425px) {
            text-align: center;
        }
    }

    .section4 {
        padding: 80px;
        @media (min-width:375px) and (max-width: 425px){
            padding: 20px;
        }

        .vertical-container {
            display: flex;
            gap: 50px;
            justify-content: space-around;
            align-items: center;
            @media (min-width:375px) and (max-width: 425px){
                display: block;
            }

            .content {
                display: flex;
                gap: 20px;
                @media (min-width:375px) and (max-width: 425px){
                    flex-direction: column;
                    justify-content: center;
                    margin: 20px;
                    gap: 0;
                }

                .content-text-end {
                    text-align: end;
                    @media (min-width:375px) and (max-width: 425px){
                        text-align: center;
                    }
                }

                .content-text-start {
                    text-align: start;
                    @media (min-width:375px) and (max-width: 425px){
                        text-align: center;
                    }
                }

                .content-image {
                    @media (min-width:375px) and (max-width: 425px){
                        margin: 0 auto;
                    }
                    img {
                        border: 7px solid rgb(185, 185, 185);
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .section5 {
        position: relative;

        .back-img {
            background-image: url("../img/banner.jpg");
            height: 40vh;
            background-position: center;
            filter: brightness(50%);
            @media (min-width:375px) and (max-width: 425px){
                height: 60vh;
            }
        }

        .section5-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            @media (min-width:375px) and (max-width: 425px){
                div{
                    h1{
                        font-size:large;
                    }
                    h4{
                        font-size: smaller;
                    }
                }
            }
        }
    }
}